.DS_Store
node_modules
Thumbs.db
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
UserInterfaceState.xcuserstate
$RECYCLE.BIN/
*.log
log.txt
npm-debug.log*
/.idea
/.versions
/.vscode
/coverage
/ios
/android
/lib
*.bs.js
